<h2>List of companies</h2>

<ul data-module-id="{{ module.Id }}">
	{% for company in query %}
	{% set item = company.PrimaryKey %}
	{% ia module='Project_Backend_Companies',action='edit',item=item %}
	<li>{{ company.Name }}, agreements: {{ company.NbrAgreements }}
	{% if company.AgreementQuotes %}
		<ul>
			{% for q in company.AgreementQuotes %}
			<li>Quote: {{ q.Heading }}</li>
			{% endfor %}
		</ul>
	{% endif %}
	</li>
	{% endia %}
	{% endfor %}
</ul>